/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

ul {
  padding-left: 20px;
}

/* Utilites */
.text-gray {
  color: gray;
}

.small-text {
  font-size: 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* Layout */
.container {
  width: 80%;
  margin: 0 auto;
  /* regola di debug */
  /* border: 1px solid black; */
}

/* Header */
header {
  padding-top: 25px;
  height: 80px;
  background-color: rgb(74, 108, 220);
  background-image: url(../img/pattern.png);
  background-size: 250px;
}

.header-image {
  height: 50px;
  width: auto;
}

/* Content */
main {
  padding-top: 30px;
}

.section-title {
  font-size: 16px;
}

.author {
  color: blue;
}

/* Table */
table {
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: blue;
  color: white;
}

.bg-lightblue {
  background-color: lightblue;
}

.small-col {
  width: 25%;
}

.large-col {
  width: 50%;
}

.card {
  display: inline-block;
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-position: center;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.monitor {
  background-image: url(../img/monitor.jpg);
}

.graph {
  background-image: url(../img/graph.jpg);
}
